################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj/Debug
/MathsLibrary/bin/Debug
/MathsLibrary/obj/Debug
